
@import url('https://fonts.googleapis.com/css?family=Dosis');


:root {
  /* generic */
  --gutterSm: 0.4rem;
  --gutterMd: 0.8rem;
  --gutterLg: 1.6rem;
  --gutterXl: 2.4rem;
  --gutterXx: 7.2rem;
  --colorPrimary400: #7e57c2;
  --colorPrimary600: #5e35b1;
  --colorPrimary800: #4527a0;
  --colorPrimary1000: rgba(255, 255, 255, 0.16);
  --fontFamily: "Dosis", sans-serif;
  --fontSizeSm: 1.2rem;
  --fontSizeMd: 1.6rem;
  --fontSizeLg: 2.1rem;
  --fontSizeXl: 2.8rem;
  --fontSizeXx: 3.6rem;
  --lineHeightSm: 1.1;
  --lineHeightMd: 1.8;
  --transitionDuration: 300ms;
  --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);
  
  /* floated labels */
  --inputPaddingV: var(--gutterMd);
  --inputPaddingH: var(--gutterLg);
  --inputFontSize: var(--fontSizeLg);
  --inputLineHeight: var(--lineHeightMd);
  --labelScaleFactor: 0.8;
  --labelDefaultPosY: 50%;
  --labelTransformedPosY: calc(
    (var(--labelDefaultPosY)) - 
    (var(--inputPaddingV) * var(--labelScaleFactor)) - 
    (var(--inputFontSize) * var(--inputLineHeight))
  );
  --inputTransitionDuration: var(--transitionDuration);
  --inputTransitionTF: var(--transitionTF);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  font-size: 10px;
}



h1 { color: white;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 5%;
  font-size:250%;

}


header {
  background-image: url("../images/header.png");
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  float: left;
  margin: 20px 0 0 20px;
}
.logo img {
  height: 40px;
}

.homeicon {
  float: right;
  margin: 23px 20px 0 20px;
}
.homeicon img {
  height: 40px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  color: white;
  height: 100vh;
  font-family: var(--fontFamily);
  font-size: var(--fontSizeLg);
  line-height: var(--lineHeightMd);
  background-image:url("../images/bg3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.Wrapper {
  flex: 0 0 80%;
  max-width: 80%;
  position: relative;
  margin-top:0;
}

.Title {
  margin-top: 0 0 var(--gutterXx) 0; 
  padding: 0;
  color: #fff;
  font-size: var(--fontSizeXx);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  line-height: var(--lineHeightSm);
  text-align: center;
  text-shadow: -0.1rem 0.1rem 0.2rem var(--colorPrimary800);
}

.Input {
  position: relative;
  padding-top: 8%;
}

.Input-text {
  display: block;
  margin-top: 0%;
  padding: var(--inputPaddingV) var(--inputPaddingH);
  color: black;
  width: 70%;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow var(--transitionDuration);
}

.button {
  display: inline;
  margin: 0;
  padding: var(--inputPaddingV) var(--inputPaddingH);
  width:10%;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow var(--transitionDuration);
  text-align: center;
}

.button:hover {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary1000);
  color: white;
  background-color: #7954ea;
}


.Input-text::placeholder {
  color: #B0BEC5;
}

.Input-text:hover {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
}
.Input-text:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
}

.title-wrapper{

  display: flex;
  justify-content: center;
}
.img{
  width: 350px;
  filter: drop-shadow(5px 5px 5px #4c4c4c6d);
}
  


.t1 {

  width:25%;
  height: 20%;
  background-color: rgba(255, 255, 255, 0.214);
  font-size: var(--inputFontSize);
  border-radius: 10px;
  display: flex;
  justify-content: left;


}
.t2 {

  width:25%;
  height: 20%;
  background-color: rgba(255, 255, 255, 0.214);
  font-size: var(--inputFontSize);
  border-radius: 10px;
  display: flex;
  justify-content: center;


}
.t3 {

  width:25%;
  height: 20%;
  background-color: rgba(255, 255, 255, 0.214);
  font-size: var(--inputFontSize);
  border-radius: 10px;
  display: flex;
  justify-content: center;


}
